<div class="bg_colr">
    <div class="container">
        <div class="wrap infrmtion">
            <div class="InstNameDiv">
                <p class="InstName">Instruction</p>
  </div>

            <div class="row text_final">
                <p>Thank you for your interest in our survey! Please read the following instructions carefully before
                    starting.</p>
            </div>

            <div class="row text_final">
                <p>We value your honest opinion and your thoughtful responses will help us improve our research.</p>
            </div>

            <div class="row text_final">
                <p>Please answer all questions based on your own personal experiences and beliefs.</p>
            </div>

            <div class="row max_height">
                <button class="next_btn" (click)="startSurvey()">Let's Do It</button>
            </div>
        </div>
    </div>
</div>