<!-- survey-closed.component.html -->
<div class="main_survey_page" [dir]="rtlLangCheck ? 'rtl' : 'ltr'" [class.rtl-mode]="rtlLangCheck">
    <div class="wrap">
        <div class="col-md-12">
            <div class="row row-centered">
                <div class="col-md-8 block-center">
                    <div class="wrap infrmtion">
                        <div class="messge_col">
                            <h1 class="h1_color">{{ heading }}</h1>
                            <h4>{{ message }}</h4>
                            <div *ngIf="showSupport" class="support-text">
                                <p>{{ subHeading }}</p>
                            </div>
                            <div *ngIf="!showSupport" class="disqualified-text">
                                <p>{{ subHeading }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>